@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
}

/* navbar */

.navbar {
    font-family: "Ubuntu", sans-serif;
    padding: 0;
}
.navbar-brand {
    font-size: 35px;
    font-weight: 600;
}

.navbar-brand span {
    color: blue;
}

.navbar .navbar-nav .nav-item a {
    color: black;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 4px solid white;
    transition: all 0.3s ease;
    padding: 0;
    margin: 0 25px 0 0;
}

.navbar .navbar-nav .nav-item a:hover {
    color: blue;
    border-bottom: 4px solid blue;
    transition: all 0.3s ease;
}

.navbar .navbar-toggler {
    border: none;
    color: black;
    cursor: pointer;
}

/* section */
.about .skills .experience .education .projects .contact {
    font-family: "Poppins", sans-serif;
}

section {
    padding: 60px 0;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 360px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: black;
    padding: 5px;
    background: white;
    transform: translateX(-50%);
}

/* card */

.custom-card {
    background: blue;
    color: white;
    border-radius: 6px;
    padding: 20px 25px;
    transition: all 0.5s ease;
    font-family: "Ubuntu", sans-serif;
}

.custom-card:hover {
    background: white;
    color: blue;
    -webkit-box-shadow: 5px 5px 15px 5px blue;
    box-shadow: 5px 5px 15px 5px blue;
}

.custom-card i {
    font-size: 100px;
}

.custom-card .text {
    font-size: 15px;
    font-weight: 700;
}

.custom-card:hover {
    transform: scale(1.05);
}

/* timeline */

.custom-container {
    font-family: "Ubuntu", sans-serif;
    min-height: 30vh;
    padding: 50px 0;
}

.custom-container .timeline {
    max-width: 800px;
    width: 80%;
}

.custom-container .timeline ul li {
    border: blue solid;
    border-radius: 10px;
}

.custom-container .timeline ul li:last-child {
    margin-bottom: 0;
}

.custom-container .timeline h2 {
    font-weight: 500;
}
.custom-container .timeline p {
    margin-bottom: 0.5rem;
}

.custom-container .timeline .date {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    color: blue;
}
/* home */

.home {
    font-family: "Ubuntu", sans-serif;
}

.home .home-content .text-2 {
    font-size: 75px;
}

.home .home-content .text-3 {
    font-size: 40px;
}

.home .home-content .text-3 span {
    color: blue;
    font-weight: 500;
}

.home .home-content a {
    background: blue;
    color: white;
    border: blue solid;
    border-radius: 10px;
}

.home .home-content a:hover {
    background: white;
    color: blue;
}

/* about  */

.about .title::after {
    content: "who am i";
}

.about .about-content img {
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .text {
    font-weight: 600;
}

.about .about-content .text span {
    color: blue;
}

.about .about-content p {
    text-align: justify;
}

.about .about-content a {
    color: white;
    background: blue;
    border: blue solid;
    border-radius: 10px;
}

.about .about-content a:hover {
    color: blue;
    background: white;
}

/* skills */

.skills .title::after {
    content: "what are my skills";
}

/* experience */

.experience .title::after {
    content: "what are my experiences";
}

/* education */

.education .title::after {
    content: "what are my qualifications";
}

/* projects */

.projects .title::after {
    content: "some of my works";
}

.projects .custom-card {
    background: white;
    color: black;
    border: blue solid;
    height: 80%;
}

.projects .custom-card img {
    object-fit: scale-down;
    height: 50%;
}

.projects .custom-card .desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.projects .custom-card .footer {
    background: none;
    border: none;
}

.projects .custom-card .footer a {
    background: blue;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    border: solid blue;
    transition: all 0.3s ease;
}

.projects .custom-card .footer a i {
    font-size: 15px;
}

.projects .custom-card .footer a:hover {
    background: white;
    color: blue;
    transition: all 0.3s ease;
}

/* responsive */

@media only screen and (min-width: 768px) {
    .custom-container .timeline::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 2px;
        left: 50%;
        transform: translateX(-50%);
        background: blue;
    }

    .custom-container .timeline ul li {
        width: 50%;
        position: relative;
        margin-bottom: 50px;
    }

    .custom-container .timeline ul li:nth-child(odd) {
        float: left;
        clear: right;
        transform: translateX(-30px);
        border-radius: 20px 0px 20px 20px;
    }

    .custom-container .timeline ul li:nth-child(even) {
        float: right;
        clear: left;
        transform: translateX(30px);
        border-radius: 0px 20px 20px 20px;
    }

    .custom-container .timeline ul li::after {
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        background: blue;
        border-radius: 50%;
        top: 0;
    }

    .custom-container .timeline ul li:nth-child(odd)::after {
        transform: translate(50%, -50%);
        right: -32px;
    }

    .custom-container .timeline ul li:nth-child(even)::after {
        transform: translate(-50%, -50%);
        left: -32px;
    }

    .custom-container .timeline ul li:hover::after {
        border: blue 3px solid;
        background: white;
        transition: all ease 0.3s;
    }
    .custom-container .timeline .date {
        position: absolute;
        top: -40px;
    }
}
